@import "bourbon";
@import "vars.scss";


@media only screen and (max-width : 1200px){
	.tenancy .item-catalog {
		ul {
			li{
				margin: 20px 10px;
				&:first-child{
					margin: 20px 10px;
				}
				&:last-child{
					margin: 20px 10px;
				}
			}
		}
	}
	.item-catalog ul li{
		margin: 20px 10px;
		&:first-child{
			margin: 20px 10px;
		}
	}
	.item-catalog ul li:last-child{
		margin: 20px 10px;
	}
}



@media only screen and (max-width : 1145px){
	.slider-head .slider-prev ul{
		width: auto !important;
		li{
			margin: 0 10px !important;
		}
	}
}

@media only screen and (max-width : 1136px){
	.prev p{
		padding-left: 45px;
	}
}


@media only screen and (max-width : 1060px){
	.slider-head .slider-prev ul li{
		margin: 0 5px !important;
	}
}

@media only screen and (max-width : 1028px) {
	.button-search-container input{
		min-width: 170px;
		width: 170px;
	}
}


@media only screen and (max-width : 1000px){
	.prev p{
		padding-left: 45px;
		font-size:13px;
	}
}


@media only screen and (max-width : 991px) {
	.top-line-menu{
		display: none;
	}
	.toggle_mnu{
		display: inline-block !important;
	}
	.social-all{
		padding-top: 20px;
	}
	.logo{
		text-align: center;
	}
	.prev{
		text-align: center;
		p{
			font-size: 14px;
			padding-left: 0;
		}
	}
	.data{
		text-align: center;
	}
	.left-info{
		text-align: center;
		padding-left: 0;
	}
	.right-img{
		margin: 15px auto;
	}
	.contacts{
		text-align: center;
	}
	.forma{
		form{
			padding-left: 0;
			text-align: center;
			h2{
				font-size: 8vw;
			}
			.name{
				width: 100%;
				display: block;

			}
			.phones{
				width: 100%;
				display: block;
			}

		}

	}
	footer{
		text-align: center;
		.last-men-for{
			text-align: center;
		}
		.sec-men-foot{
			padding-left: 0;
		}
	}
}

@media only screen and (max-width : 930px){
	footer{
		.left-lic{
			display: block;
			text-align: center;
		}
		.right-lic{
			display: block;
			float: none !important;
			text-align: center;
			margin-top: 10px;
		}
	}
}


@media only screen and (max-width : 900px){
	.swiper-slide{
		min-width: auto !important;
		width: 100% !important;

	}
}


@media only screen and (max-width : 767px) {
	.swiper-slide{
		padding-left: 0;
		text-align: center;
		max-height: inherit !important;
		a{
			margin-top: 50px;
			margin-bottom: 10px;
		}
	}
}

@media only screen and (max-width : 470px){
	.all-title h2{
		font-size: 7vw;
	}
}

@media only screen and (max-width : 450px){
	.right-img{
		width: 290px;
		height: 300px;

	}
}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 332px) {
	.button-search-container input{
		width: 150px;
		min-width: 150px;
	}
}


@media only screen and (max-width : 320px) {
	.data .button-popup tt{
		padding-right: 0;
	}
	.data .button-popup a{
		display: block;
	}

}