@import "bourbon";
@import "vars.scss";



@media only screen and (max-width : 1145px){
	.slider-head .slider-prev ul{
		width: auto !important;
		li{
			margin: 0 10px !important;
		}
	}
}

@media only screen and (max-width : 1136px){
	.prev p{
		padding-left: 45px;
	}
}


@media only screen and (max-width : 1060px){
	.slider-head .slider-prev ul li{
		margin: 0 5px !important;
	}
}

@media only screen and (max-width : 1028px) {
	.button-search-container input{
		min-width: 170px;
		width: 170px;
	}
}


@media only screen and (max-width : 1000px){
	.prev p{
		padding-left: 45px;
		font-size:13px;
	}
}


@media only screen and (max-width : 991px) {
	.top-line-menu{
		display: none;
	}
	.toggle_mnu{
		display: inline-block !important;
	}
	.social-all{
		padding-top: 20px;
	}
	.logo{
		text-align: center;
	}
	.prev{
		text-align: center;
		p{
			font-size: 14px;
			padding-left: 0;
		}
	}
	.data{
		text-align: center;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 332px) {
	.button-search-container input{
		width: 150px;
		min-width: 150px;
	}
}


@media only screen and (max-width : 320px) {
	.data .button-popup tt{
		padding-right: 0;
	}
	.data .button-popup a{
		display: block;
	}

}