@import "bourbon";
@import "vars.scss";
@import "../libs/lightslider/dist/css/lightslider.min.css";
@import "../libs/swiper/dist/css/swiper.min.css";
@import "../libs/magnific-popup/dist/magnific-popup.css";

body{
	font-size: 14px;
	min-width: 320px;
	position: relative;
	line-height: 1.6;
	font-family: RobotoSlabRegular;
	overflow-x: hidden;
	background-color: #fff;
	color: #000;
}
.inner{
	max-width: 1230px;
	margin: 0 auto;
	position: relative;
}
a,button,input,textarea{
	text-decoration: none;
	outline: 0;
	border: 0;
	@include transition(color 0.4s ease, background-color 0.4s ease, border-color 0.4s ease);
	&:focus{
		outline: 0;
		border: 0;
	}
}

button{
	&:hover{
		cursor: pointer;
	}
}

.hidden{
	display: none;
}

.wrapper{
	width: 960px;
	margin: 0 auto;
	overflow: hidden;
}
header{
	background-image: url("../img/head-bg.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
body .buttons{
	a{
		display: inline-block;
		background-color: #8e44ad;
		color: #fff;
		font-family:RobotoSlabBold;
		border-radius: 25px;
		&:hover{
			text-decoration: none;
			background-color: darken(#8e44ad,10);
		}
	}
	button{
		display: inline-block;
		background-color: #8e44ad;
		color: #fff;
		font-family:RobotoSlabBold;
		border-radius: 25px;
		&:hover{
			text-decoration: none;
			background-color: darken(#8e44ad,10);
		}
	}
}
.top-line{
	background-color: rgba(0,0,0,0.7);
}

.top-line-menu{
	li{
		float: left;
	}
	a{
		display: block;
		margin-right: 42px;
		font-size:14px;
		line-height: 13px;
		color: #fff;
		text-transform: uppercase;
		padding: 13px 0;
	}
}
.social-all{
	padding-top: 5px;
	min-width: 139px;
	padding-right: 10px;
}
.search-button{
	float: left;
	padding-right: 16px;
	position: relative;
	a{
		background-color: #898989;
		width:26px;
		height: 25px;
		border-radius: 120px;
		background-image: url("../img/search.png");
		background-position: center 6px;
		background-repeat: no-repeat;
		display: block;
		position: relative;
		z-index: 5;

	}
}
.button-search-container{
	position: absolute;
	right: 10px;
	top: -2px;
	display: none;
	transition: .5s all;
	&.active{
		top: -2px;
		display: block;
	}
	input{

		font-size:16.67px;
		color: #000;
		border: 1px solid #cccccc;
		min-width: 182px;
		padding-left: 15px;
		border-radius: 25px;
		z-index: 69;
	}
}
.btn-search-close{
	position: absolute;
	right: 24px;
	top: 25px;
	background-image: url("../img/close.png");
	background-repeat: no-repeat;
	width: 11px;
	height: 11px;
}











.social{
	text-align: center;
	li{
		float: left;
		a{
			display: block;
			margin: 0 2px;
		}
	}
}













.top-white-line{
	background-color: #fff;
	padding-top: 20px;
}

.logo{
	padding-top: 6px;
}
.prev{
	padding-top: 16px;
  p{
    line-height: 23px;
    font-size: 14px;
    padding-left: 12px;
	font-family:verdana;
    text-transform: uppercase;
  }
}


.data{
	text-align: right;
	margin-bottom: 15px;
	h2{
		font-size:24px;
		line-height: 24px;
		font-family:RobotoSlabBold;
	}
	.button-popup{
		padding-top: 12px;
		tt{
			text-decoration: underline;
			padding-right: 19px;
		}
		a{
			padding: 4px 15px;

		}
	}
}

.slider-head{
	margin-top: 140px;
	background-color: rgba(0,0,0, 0.6);
	.slider-prev{
		text-align: center;
		max-width: 1180px;
		position: relative;
		margin: 0 auto;
		.arrows-slider{
			position: absolute;
			width: 100%;
			top: 30%;
			a{
				width: 20px;
				height: 44px;
				display: inline-block;
				position: absolute;
				background-repeat: no-repeat;
			}
			.left-arrow{
				display: inline-block;
				a{
					left: 0;
					background-image: url("../img/left-arrow.png");
				}
			}
			.right-arrow{
				display: inline-block;
				a{
					right: 0;
					background-image: url("../img/right-arrow.png");
				}
			}
		}
		.lSAction>a{
			width: 20px;
			height: 44px;
			top: 38%;
		}
		.lSAction>.lSPrev{
			background-image: url("../img/left-arrow.png");
			background-position: center;
		}
		.lSAction>.lSNext{
			background-image: url("../img/right-arrow.png");
			background-position: center;
		}
		.lSAction{
			display: block !important;
		}
		ul{
			display: inline-block;
			text-align: center;
		}
		li{
			text-align: center;
			vertical-align: top;
			padding: 30px 0 24px 0;
			.sircle-green{
				width: 230px;
				height: 230px;
				margin: 0 auto;
				border: 8px solid #2ecc71;
				border-radius: 120px;
				background-position: center;
				&:hover{
					border: none;
					position: relative;
					&:after{
						content: '';
						width: 100%;
						height: 100%;
						left: 0;
						border-radius: 120px;
						top: 0;
						background-color: rgba(46,204,113,0.3);
						position: absolute;
					}
				}
			}
			p{
				padding-top: 19px;
				color: #fff;
				font-size:18px;
				line-height: 23px;
				font-family:RobotoSlabBold;
				text-transform: uppercase;
			}
		}
	}
}

.button-form{
	text-align: center;

	a{
		margin: 11px 0;
		font-size: 17.98px;
		padding: 9.5px 20px;
	}
}











.toggle_mnu {
	width: 60px;
	height: 60px;
	position: relative;
	background-color: transparent;
	z-index: 100;
	border: none;
}
.toggle_mnu span {
	display: block; }

.sandwich {
	width: 28px;
	height: 28px;
	position: absolute;
	top: 8px;
	bottom: 0;
	left: -22px;
	right: 0;
	margin: auto;
	z-index: 200; }

.sw-topper {
	position: relative;
	top: 4px;
	width: 15px;
	height: 4px;
	background: #fff;
	border: none;
	-webkit-transition: -webkit-transform 0.5s, top 0.2s;
	transition: transform 0.5s, top 0.2s;
	display: block; }


.sw-bottom {
	position: relative;
	width: 15px;
	height: 4px;
	top: 6.6px;
	background: #fff;
	border: none;
	-webkit-transition: -webkit-transform 0.5s, top 0.2s;
	transition: transform 0.5s, top 0.2s;
	-webkit-transition-delay: 0.2s, 0s;
	transition-delay: 0.2s, 0s; }

.sw-footer {
	position: relative;
	width: 15px;
	height: 4px;
	top: 10px;
	background: #fff;
	border: none;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s; }

.sandwich.active{
	position: relative;
	top: 0;
}
.sandwich.active .sw-topper {
	width: 25px;
	height: 5px;
	background-color: #fff;
	top: 10px;
	left: 0px;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg); }
.sandwich.active .sw-bottom {
	width: 25px;
	height: 5px;
	background-color: #fff;
	top: 5px;
	left: 0px;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg); }
.sandwich.active .sw-footer {
	opacity: 0;
	top: 0;
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg); }

.top_mnu {
	position: absolute;
	width:100%;
	max-width: 230px;
	background-color: rgba(255, 255, 255, 1);
	z-index: 70;
	left: 0;
	top: 61px;
	display: none; }
.top_mnu ul,
.top_mnu li {
	list-style-type: none;
	padding: 0;
	margin: 0;
	padding-top: 5px;

}
.top_mnu ul {
	margin-top: 10px;
	text-align: left;
	-webkit-animation-duration: 0.01s;
	animation-duration: 0.01s; }
.top_mnu ul li:nth-child(1) a {
	-webkit-animation-delay: 0;
	animation-delay: 0; }
.top_mnu ul li:nth-child(2) a {
	-webkit-animation-delay: 0.1s;
	animation-delay: 0.1s; }
.top_mnu ul li:nth-child(3) a {
	-webkit-animation-delay: 0.2s;
	animation-delay: 0.2s; }
.top_mnu ul li:nth-child(4) a {
	-webkit-animation-delay: 0.3s;
	animation-delay: 0.3s; }
.top_mnu ul a {
	color: #0b98cd;
	display: block;
	text-transform: uppercase;
	font-size: 12.5px;
	position: relative;
	padding-top: 5px;
	padding-left: 33px;
	height: 26px;
	outline: none;
	&:hover{
		background-color: #0b98cd;
		color: #fff;
		text-decoration: none;
	}
	&:focus{
		text-decoration: none;
	}
}
.top_mnu ul a span {
	display: block;
	position: relative;
	top: -40px;
	left: 0;
	height: 100%;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease; }
.top_mnu ul a span:hover {
	background-color: rgba(255, 255, 255, 0.08); }