*::-webkit-input-placeholder {
  color: #666;
  opacity: 1; }

*:-moz-placeholder {
  color: #666;
  opacity: 1; }

*::-moz-placeholder {
  color: #666;
  opacity: 1; }

*:-ms-input-placeholder {
  color: #666;
  opacity: 1; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #666; }

body input:required:valid,
body textarea:required:valid {
  color: #666; }

.project {
  background-image: url("../img/bg-gray.jpg"); }

.all-title {
  text-align: center; }
  .all-title h2 {
    font-size: 48px;
    text-transform: uppercase;
    font-family: RobotoSlabBold; }

.project-slider {
  text-align: center; }

.swiper-container {
  width: 100%;
  margin: 10px auto;
  padding-bottom: 50px;
  background-color: transparent;
  overflow: hidden; }

.swiper-wrapper {
  min-height: 388px; }

.swiper-slide {
  background-color: #fff;
  max-height: 388px;
  min-height: 388px;
  max-width: 890px;
  width: 100% !important;
  padding-left: 47px;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center; }
  .swiper-slide h2 {
    color: #27ae60;
    padding-top: 52px;
    font-size: 36px;
    line-height: 37px;
    font-family: RobotoSlabBold; }
  .swiper-slide p {
    font-size: 18px; }
  .swiper-slide span {
    font-family: RobotoSlabBold; }
  .swiper-slide a {
    display: inline-block;
    color: #898989;
    border: 1px solid #898989;
    background-color: transparent;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    padding: 6px 26.5px;
    margin-top: 70px; }
    .swiper-slide a:hover {
      text-decoration: none;
      background-color: #898989;
      color: #fff; }
  .swiper-slide img {
    width: 100%;
    height: 388px; }

.swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  border: 2px solid #898989;
  background-color: transparent;
  padding: 0;
  margin-top: 10px; }

.swiper-container-horizontal > .swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: 0; }

.swiper-pagination-bullet-active {
  background-color: transparent;
  position: relative; }
  .swiper-pagination-bullet-active:after {
    background-color: #898989;
    width: 8px;
    height: 8px;
    -webkit-border-radius: 120px;
    border-radius: 120px;
    content: '';
    left: 4px;
    top: 4px;
    position: absolute; }

.about-us {
  padding-bottom: 50px; }

.left-info {
  padding-left: 127px;
  padding-top: 80px; }
  .left-info h2 {
    color: #8e44ad;
    font-size: 48px;
    line-height: 40px;
    text-transform: uppercase;
    font-family: RobotoSlabBold; }
  .left-info tt {
    margin-top: 29px;
    display: block;
    color: #898989;
    font-size: 18px;
    line-height: 23px;
    text-transform: uppercase; }
  .left-info p {
    padding-top: 30px;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: -0.2px; }

.right-img {
  width: 400px;
  height: 400px;
  -webkit-border-radius: 200px;
  border-radius: 200px;
  margin: 53px 0 0 55px;
  overflow: hidden; }

.news {
  background-image: url("../img/bg-gray.jpg"); }

.news-items {
  text-align: center; }
  .news-items ul {
    display: inline-block; }
  .news-items li {
    display: inline-block;
    background-color: #fff;
    text-align: left;
    max-width: 280px;
    margin: 0 8px;
    margin-bottom: 5px;
    min-height: 420px;
    vertical-align: top; }
  .news-items .img-news img {
    width: 100%; }
  .news-items .text-item {
    padding: 22px 25px 0 17px; }
    .news-items .text-item h2 {
      font-size: 18px;
      line-height: 20px;
      font-family: RobotoSlabBold; }
    .news-items .text-item p {
      padding-top: 13px; }
    .news-items .text-item a {
      margin-top: 26px;
      margin-bottom: 10px;
      display: inline-block;
      color: #27ae60;
      text-decoration: underline; }

.catalog {
  background-image: url("../img/bg-s.jpg");
  background-size: cover;
  padding-top: 50px; }
  .catalog .all-title h2 {
    color: #fff; }

.item-catalog {
  text-align: center; }
  .item-catalog ul {
    display: inline-block;
    margin-bottom: 50px; }
    .item-catalog ul li {
      display: inline-block;
      vertical-align: top;
      text-align: center;
      margin: 0 20px; }
      .item-catalog ul li:first-child {
        margin-left: 0; }
      .item-catalog ul li:last-child {
        margin-right: 0; }
      .item-catalog ul li .circle-cat {
        width: 260px;
        height: 260px;
        -webkit-border-radius: 152px;
        border-radius: 152px;
        display: block;
        background-position: center; }
      .item-catalog ul li p {
        color: #fff;
        padding-top: 27px;
        font-size: 18px;
        text-transform: uppercase;
        font-family: RobotoSlabBold; }
      .item-catalog ul li a:hover {
        text-decoration: none; }
        .item-catalog ul li a:hover .circle-cat {
          position: relative;
          background-size: 200%; }
          .item-catalog ul li a:hover .circle-cat:after {
            content: '';
            position: absolute;
            width: 100%;
            left: 0;
            -webkit-border-radius: 150px;
            border-radius: 150px;
            top: 0;
            height: 100%;
            background-color: rgba(39, 174, 96, 0.7); }

.forma {
  background-image: url("../img/bg-gray.jpg");
  padding-top: 44px; }
  .forma h2 {
    font-size: 48px;
    font-family: RobotoSlabBold;
    text-transform: uppercase; }
  .forma .contacts span {
    display: inline-block;
    margin-right: 27px;
    width: 117px;
    font-size: 18px;
    vertical-align: top;
    font-family: RobotoSlabBold; }
  .forma .contacts p {
    padding: 0px 0 20px 0;
    font-size: 18px; }
  .forma .contacts .poz {
    display: inline-block; }
  .forma .contacts .phone {
    margin-bottom: 50px; }
  .forma form {
    padding-left: 110px; }
    .forma form p {
      font-size: 18px; }
    .forma form .title-form p {
      text-transform: uppercase; }
    .forma form input {
      margin-top: 5px;
      -webkit-border-radius: 70px;
      border-radius: 70px;
      height: 46px;
      width: 100%; }
    .forma form .name {
      width: 322px;
      display: inline-block;
      margin-top: 49px;
      margin-bottom: 20px;
      margin-right: 2px; }
    .forma form .phones {
      width: 322px;
      display: inline-block;
      margin-bottom: 20px;
      margin-left: 2px; }
    .forma form .tema {
      margin-bottom: 30px; }
    .forma form .buttons {
      margin-bottom: 34px; }
      .forma form .buttons button {
        padding: 9px 30px;
        font-size: 18px; }

.tenancy {
  background-image: url("../img/bg-t.jpg");
  background-size: cover;
  background-position: center;
  padding-top: 15px; }
  .tenancy .all-title h2 {
    text-decoration: underline; }
  .tenancy .item-catalog ul li {
    margin: 35px 22px 0 22px; }
    .tenancy .item-catalog ul li:first-child {
      margin-left: 0; }
    .tenancy .item-catalog ul li:last-child {
      margin-right: 0; }
    .tenancy .item-catalog ul li p {
      color: #000; }
  .tenancy .buttons a {
    padding: 7.5px 26px; }

footer {
  background-color: #000;
  color: #fff;
  padding-top: 42px; }
  footer h2 {
    font-size: 18px;
    text-transform: uppercase; }
  footer ul li a {
    color: #fff;
    text-decoration: underline;
    font-size: 14px;
    display: block;
    line-height: 15px;
    margin-top: 20px; }
  footer .last-men-for {
    text-align: right; }
  footer .sec-men-foot {
    padding-left: 100px; }
  footer .left-lic {
    display: inline-block;
    margin-top: 170px; }
  footer .right-lic {
    margin-top: 170px; }

@media only screen and (max-width: 1200px) {
  .tenancy .item-catalog ul li {
    margin: 20px 10px; }
    .tenancy .item-catalog ul li:first-child {
      margin: 20px 10px; }
    .tenancy .item-catalog ul li:last-child {
      margin: 20px 10px; }
  .item-catalog ul li {
    margin: 20px 10px; }
    .item-catalog ul li:first-child {
      margin: 20px 10px; }
  .item-catalog ul li:last-child {
    margin: 20px 10px; } }

@media only screen and (max-width: 1136px) {
  .prev p {
    padding-left: 45px; } }

@media only screen and (max-width: 1028px) {
  .button-search-container input {
    min-width: 170px;
    width: 170px; } }

@media only screen and (max-width: 1000px) {
  .prev p {
    padding-left: 45px;
    font-size: 13px; } }

@media only screen and (max-width: 991px) {
  .top-line-menu {
    display: none; }
  .toggle_mnu {
    display: inline-block !important; }
  .social-all {
    padding-top: 20px; }
  .logo {
    text-align: center; }
  .prev {
    text-align: center; }
    .prev p {
      font-size: 14px;
      padding-left: 0; }
  .data {
    text-align: center; }
  .left-info {
    text-align: center;
    padding-left: 0; }
  .right-img {
    margin: 15px auto; }
  .contacts {
    text-align: center; }
  .forma form {
    padding-left: 0;
    text-align: center; }
    .forma form h2 {
      font-size: 8vw; }
    .forma form .name {
      width: 100%;
      display: block; }
    .forma form .phones {
      width: 100%;
      display: block; }
  footer {
    text-align: center; }
    footer .last-men-for {
      text-align: center; }
    footer .sec-men-foot {
      padding-left: 0; } }

@media only screen and (max-width: 930px) {
  footer .left-lic {
    display: block;
    text-align: center; }
  footer .right-lic {
    display: block;
    float: none !important;
    text-align: center;
    margin-top: 10px; } }

@media only screen and (max-width: 900px) {
  .swiper-slide {
    min-width: auto !important;
    width: 100% !important; } }

@media only screen and (max-width: 767px) {
  .swiper-slide {
    padding-left: 0;
    text-align: center;
    max-height: inherit !important; }
    .swiper-slide a {
      margin-top: 50px;
      margin-bottom: 10px; } }

@media only screen and (max-width: 470px) {
  .all-title h2 {
    font-size: 7vw; } }

@media only screen and (max-width: 450px) {
  .right-img {
    width: 290px;
    height: 300px; } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 332px) {
  .button-search-container input {
    width: 150px;
    min-width: 150px; } }

@media only screen and (max-width: 320px) {
  .data .button-popup tt {
    padding-right: 0; }
  .data .button-popup a {
    display: block; } }

/* ============================ form css =========================== */
#modal_callback_ok h3, #modal_callback_ok h4 {
  font: 30px RobotoRegular,Arial,sans-serif;
  text-align: center; }

#modal_callback_ok h4 {
  font-weight: 700; }

.allert, .allert_tell {
  position: absolute;
  z-index: 20;
  top: 15px;
  display: block;
  right: 18px;
  height: 20px;
  color: #FF6565;
  cursor: default; }

.er_border, .error {
  border: 1px solid red !important; }

.allert:hover, .allert_tell:hover {
  text-decoration: none; }

.allert span, .allert_tell span {
  display: none;
  opacity: 0;
  padding: 5px;
  margin-left: 5px;
  color: #000;
  font-style: italic;
  font-size: 14px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  min-width: 140px;
  text-align: left; }

.allert:hover span, .allert_tell:hover span {
  border: 1px solid #FF6565;
  background: #fff;
  display: inline;
  position: absolute;
  color: #4e4e4e;
  right: 24px;
  top: -6px;
  opacity: 1; }

.mess_error {
  position: absolute;
  z-index: 10;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
  white-space: normal;
  line-break: auto;
  padding: 5px 10px;
  opacity: 1;
  left: 0;
  top: 60px;
  width: 97%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #FF6565; }

.tooltip-inner {
  padding: 3px 8px;
  color: #FFF;
  text-align: center;
  background-color: #FF6565;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  font-size: 15px; }

.field {
  position: relative;
  float: left; }

.section8 .tooltip-arrow {
  border-bottom-color: #000; }

.section8 .tooltip-inner {
  background-color: #000; }

.jb_input .field {
  width: 100%; }

.jb_input {
  /*   overflow: hidden;*/ }

.jb_input .mess_error {
  position: relative;
  width: 100%;
  padding: 5px 0px;
  top: -5px;
  float: left; }

/* ============================ form css media =========================== */
@media only screen and (max-width: 992px) {
  .allert, .allert_tell {
    top: 0; }
  .field {
    float: none; }
  .mess_error {
    position: relative;
    width: 215px;
    margin: 0 auto;
    top: 0;
    margin-bottom: 15px; } }

@media only screen and (max-width: 320px) {
  #modal_callback_ok {
    height: 200px; }
  .fancybox-inner {
    width: auto !important; }
  .fancybox-close {
    top: 0 !important;
    right: 0 !important; } }
